/* Resetting styles */
html,body,div,ul,ol,li,dl,dt,dd,h1,h2,h3,h4,h5,h6,pre,form,p,blockquote,fieldset,input,abbr,article,aside,command,details,figcaption,figure,footer,header,hgroup,image,mark,meter,nav,output,progress,section,summary,time { margin: 0; padding: 0; border: 0;}
h1,h2,h3,h4,h5,h6,pre,code,address,caption,cite,code,em,strong,th,figcaption { font-weight: normal; font-style: normal;}
fieldset,iframe { border: none; }
ol,ul {list-style: none;}
caption,th { text-align: left; }
table { border-collapse: collapse; border-spacing: 0; }
article,aside,footer,header,hgroup,nav,section,figure,figcaption { display: block; }



/* Basic elements and classes */
a {text-decoration: none;}
a:hover {text-decoration: underline;}

.border1 {border: solid 1px #ddd;}

br.clear {display: block; height: 0; font-size: 0; clear: both;}

.dropDown {display: none;}

.floatLeft {float: left;}
.floatRight {float: right;}

em {color: #023770; font-weight: 600;}
strong {color: #023760; font-weight: 600;}

.imgLeft {float: left; margin: 0 30px 20px 0;}
.imgRight {float: right; margin: 0 0 20px 30px;}
.imgMiddle {display: block; margin: 0 auto 20px;}

p {text-align:justify; margin-bottom:0.8em;}

.title {
	text-align:left;
}

h1 {
	margin: 20px 0 10px;
	font: 30px/30px Verdana, Geneva, sans-serif;
	text-align: left;
	
	color: #1d275d;
}

h2 {
	margin-bottom: 8px;
	font: 24px/24px Verdana, Geneva, sans-serif;
	text-align: left;
	
	color: #1d275d;
}

/* hack to make jumps to headers display the header */
h2:before {
    display: block;
    content: " ";
    margin-top: -100px;
    height: 100px;
    visibility: hidden;    
}

h3 {
	margin: 12px 0 8px;
	font: 20px/20px Verdana, Geneva, sans-serif;
	text-align: left;
	
	color: #1d275d;
}

h4 {
	margin: 10px 0 8px;
	font: 18px/18px Verdana, Geneva, sans-serif;
	text-align: left;
	
	color: #1d275d;
}

ul {
	padding-left: 20px;
	margin: 0 0 0.8em 20px;

	list-style: disc;
	list-style-position: outside;
	display: table;
}

ul ul{
	padding-left: 20px;
	margin: 0 0 0.8em 20px;

	list-style: circle;
	list-style-position: outside;
	display: table;
}

/* Main layout */
body {
	background: #252f52;
	font: 14px/1.42857 Verdana, Geneva, sans-serif;
}


.headerContainer {
	margin-right: auto;
	margin-left: auto;
}

#Header {
	position: fixed;
	top: 0;
	z-index: 100;

	width: 100%;
	min-width: 550px;
	padding: 10px 0;
	/*border-bottom: 3px solid #252f52;*/
	
	background: #EFEFFB none repeat scroll 0px 0px;
	
	transition: all 1.0s ease-in-out 0s;
}

#Header.scrolled {
	padding: 0;
	/*border-bottom: 3px solid #252f52;*/
}

.headerContainer {
	margin-right: auto;
	margin-left: auto;
}

.headerPanel {
	margin: 0 -15px;
}

#Logo {
	float: left;
	
	margin: 13px 0;
}

#Logo img {
	display: block;
}

.logo {
	padding: 0 15px;
}


.menu{
	float: left;
}

.menu ul {
	list-style: outside none none;
	
	transition: all 0.5s ease-in-out 0s;
}

.menu ul li a {	
	display: block;
	
	font: bold 14px/1 Verdana, Geneva, sans-serif;
	
	text-transform: uppercase;
}

.menu ul li a:hover, .menu .active {
	color: #514d9b;
}

.menuContainer {
	overflow: hidden;
}

.contentContainer {
	margin-right: auto;
	margin-left: auto;
} 

.titleContainer {
	margin-right: auto;
	margin-left: auto;
} 

/* image container to hold splash image plus text */
.imageContainer {
	position: relative;
	text-align: center;
} 

.title-text-container {
    position: absolute;
}

/* Content */
#Content {
    width: 100%;
	min-width: 550px;
	min-height: 500px;
	
	background: #ffffff none repeat scroll 0px 0px;
}

.titleTop {
	margin: 0 0 10px 0;
}

.titleTopImage {
	float: left; 
	margin: 5px 30px 10px 0;
}

.frontButtonA {
	position: absolute;
	color: #AA0078;
	background:  #f9dff2;
	border: 1px solid #AA0078;
	border-radius: 10px;
}

.frontButtonA:hover {
	color: #f9dff2;
	background:  #AA0078;
}

.frontButtonB {
	position: absolute;
	color: #072cbf;
	background:  #d0eaf2;
	border: 1px solid #072cbf;
	border-radius: 10px;
}

.frontButtonB:hover {
	color: #d0eaf2;
	background:  #072cbf;
}

.frontButtonC {
	position: absolute;
	color: #AA0078;
	background:  #ffffff;
	border: 0px;
}

.frontButtonC:hover {
	color: #072cbf;
}

.section {
	margin: 50px 0;
}

.titleImage {
	height:200px; 
	margin: 0 0 20px;
}

.mainImage {
	height:200px; 
	margin: 0 20px 20px;
	float: right;
}

.footerContainer {
	margin-right: auto;
	margin-left: auto;	
}

#Footer {
	position: relative;
	display: block;
	width: 100%;
	min-width: 550px;
	padding: 10px 0px 30px;
	
	background: #252f52 none repeat scroll 0% 0%;
	color: #bbb;
}

.copyright {
	float: left;
	text-align: left;
    width: 35%;
}

.copyright p {
	margin: 0;
	font: 11px/12px Verdana, Geneva, sans-serif;
}

.social {
    float: right;
    width: 25%;
    text-align: right;
}

/* Tables style */
.TableBasic {
	border: 1px solid #ccc;

	margin-top: 15px;
	margin-bottom: 35px;
}

.TableBasic th {
	padding: 3px 5px 3px 5px;
	border: 1px solid #ccc;

	background: #d2e9f4;
	color: #023760;

	font-weight:900;
	font-size: 13px;
}

.TableBasic td {
	padding: 3px 5px 3px 5px;
	border: 1px solid #ccc;

	text-align: left;
	font-size: 13px;
}


.TableInvisible {
	border: none;
}

.TableInvisible th {
	padding: 3px 5px 3px 5px;
	border: none;

	background-color: #ebf0f0;
	color: #023760;

	font-weight: 900;
}

.TableInvisible td {
	padding: 3px 5px 3px 5px;
	border: none;

	text-align: justify;
	vertical-align: top;
}


/*Fluid layout*/
/* 
 * =================== Small screens: < 767 wide ============= 
 */
@media (max-width:767px) {

    /* hack to make jumps to headers display the header */
    h2:before {
        margin-top: -180px;
        height:180px;
    }

	.headerContainer {
		min-width: 550px;
		padding: 0 15px;
	}

	.logo {
		width: 100%;
	}
	.menu {
		padding: 8px 15px;
		text-align: left;
		width: 100%;
	}	
	.menu img {
		display: block;
		max-width: none;
	}
	.menu ul {
		float:left;
		width: 100%;
		padding-top: 10px;
	}
	.menu ul  li {
		display:block;
	}
	.menu ul li a {
		padding: 10px 10px;
	}
	.hiddenSmall {
		display: none;
	}
	.activeSmall {
		display: block;
		margin-top: 8px;
		border-top: 1px solid #464646;
	}
	
	.contentContainer {
		min-width: 550px;
		padding: 230px 15px 70px 15px;
	}
	
	.titleImage {
		display: block;
		margin: 20px auto 20px;
	}
	
	.footerContainer {
		min-width: 550px;
		padding: 25px 15px 0;
	}
	
	.titleContainer {
		min-width: 550px;
		padding: 230px 15px 70px 15px;
	}
	
	.title-text-container {
		top: 40px;
		left: 30px;
	}
	
	.titleTopImage {
		display:none;
	}
	
	.titleTopImageSmall {
		float: left;
		width: 480px;
	}
	
	.title {
		font: 20px/22px Verdana, Geneva, sans-serif;
		color: #1d275d;
		width: 35%;
		min-width: 200px;
        text-align:left;
        background: rgba(255, 255, 255, 0.6);
	}
	
	.title-link {
		margin: 20px 0 10px;
		font: 16px/18px Verdana, Geneva, sans-serif;
		color: #1d275d;
	}
		
	.frontButtonA { 
		font: 14px/16px Verdana, Geneva, sans-serif;
	}
	
	.frontButtonB { 
		font: 14px/16px Verdana, Geneva, sans-serif;
	}
	
	#EhealthChallenge {
		width: 108px;
		height: 55px;
		top: 10px;
		left: 75%;
	}
	
	#SemanticFramework {
		width: 108px;
		height: 55px;
		top: 110px;
		left: 75%;
	}
	
	#ClinicalProcess {
		width: 108px;
		height: 55px;
		top: 210px;
		left: 75%;
	}
	
	#TamingStandards {
		width: 108px;
		height: 55px;
		top: 310px;
		left: 75%;
	}
	
	#PlatformDefinition {
		width: 108px;
		height: 55px;
		top: 410px;
		left: 75%;
	}
	
}

/* 
 * =================== Mid-small screens: 768w and higher ============= 
 */
@media (min-width:768px){

    /* hack to make jumps to headers display the header */
    h2:before {
        margin-top: -180px;
        height:180px;
    }

	.headerContainer {
		width: 750px;
		padding: 0 15px;
	}
	.menuContainer {
		width:90%;
	}
	.logo {
		width:100%;
	}
	.menu {
		width: 100%;
		padding: 0 15px;
		text-align: left;
	}	
	.menu img {
		display:none;
	}
	.menu ul {
		display:block;
		float:left;
		padding: 0;
	}
	.menu ul  li {
		display: inline-block;
	}
	.menu ul li a {
		padding: 20px 10px;
	}
	.activeSmall {
		margin: none;
		display: block;
		border: none;
	}
	
	.contentContainer {
		width: 650px;
		padding: 230px 0 70px 0;
	}
	
	.titleImage {
		display: block;
		margin: 20px auto 20px;
	}
	
	.footerContainer {
		width: 750px;
		padding: 25px 15px 0;
	}
	
	.titleContainer {
		width: 740px;
		padding: 230px 0 10px 0;
	}
	
	.title-text-container {
		top: 40px;
		left: 30px;
	}
	
	.titleTopImage {
		height: 100%;
		width: 740px;
	}
	
	.titleTopImageSmall {
		display: none;
	}
	
	.title {
		font: 20px/22px Verdana, Geneva, sans-serif;
		color: #1d275d;
		width: 35%;
        text-align:left;
        background: rgba(255, 255, 255, 0.6);
    }
	
	.title-link {
		margin: 20px 0 10px;
		font: 18px/20px Verdana, Geneva, sans-serif;
		color: #1d275d;
	}
	
	.frontButtonA { 
		font: 9px/12px Verdana, Geneva, sans-serif;
	}
	
	.frontButtonB { 
		font: 9px/12px Verdana, Geneva, sans-serif;
	}
	
	.frontButtonC { 
		font: 9px/12px Verdana, Geneva, sans-serif;
	}
	
	#EhealthChallenge {
		width: 64px;
		height: 40px;
		top: 51px;
		left: 552px;
	}
	
	#SemanticFramework {
		width: 73px;
		height: 42px;
		top: 112px;
		left: 462px;
	}
	
	#ClinicalProcess {
		width: 67px;
		height: 50px;
		top: 173px;
		left: 598px;
	}
	
	#TamingStandards {
		width: 67px;
		height: 45px;
		top: 237px;
		left: 666px;
	}
	
	#PlatformDefinition {
		width: 68px;
		height: 40px;
		top: 322px;
		left: 500px;
	}

	#PlatformEconomy {
		width: 62px;
		height: 50px;
		top: 368px;
		left: 620px;
	}    
    
}

/* 
 * =================== Medium screens: 992w and higher ============= 
 */

@media (min-width:992px){
	.headerContainer {
		width: 970px;
		padding: 0 15px;
	}
	.menuContainer {
		width:90%;
	}
	.logo {
		width: 16.6667%;
	}
	.menu {
		width: 83.3333%;
		padding: 0 15px;
		text-align: right;
	}
	.menu img {
		display:none;
	}
	.menu ul {
		display:block;
		float:right;
		padding: 0;
	}
	.menu ul  li {
		display: inline-block;
		margin: 0px 13px;
	}
	.menu ul li a {
		padding: 20px 10px;
	}
	.activeSmall {
		margin: none;
		display: block;
		border: none;
	}	
	
	.contentContainer {
		width: 820px;
		padding: 160px 0 50px 0;
	}
	
	.fullFrame {
		width:95%;
	}
	
	.homeFrame {
		width:100%;
	}
	
	.titleImage {
		display: block;
		margin: 20px auto 20px;
	}
	
	.footerContainer {
		width: 970px;
		padding: 25px 15px 0;
	}
	
	.titleContainer {
		width: 880px;
		padding: 150px 0 10px 0;
	}
	
	.title-text-container {
		top: 40px;
		left: 30px;
	}
	
	.titleTopImage {
		height: 100%;
		width: 850px;
	}
	
	.titleTopImageSmall {
		display: none;
	}
	
	.title {
		font: 22px/24px Verdana, Geneva, sans-serif;
		color: #1d275d;
		width: 35%;
        text-align:left;
        background: rgba(255, 255, 255, 0.6);
	}
	
	.title-link {
		margin: 20px 0 10px;
		font: 18px/20px Verdana, Geneva, sans-serif;
		color: #1d275d;
	}
	
	.frontButtonA { 
		font: 12px/13px Verdana, Geneva, sans-serif;
	}
	
	.frontButtonB { 
		font: 12px/13px Verdana, Geneva, sans-serif;
	}
	
	.frontButtonC { 
		font: 12px/13px Verdana, Geneva, sans-serif;
	}
	
	#EhealthChallenge {
		width: 72px;
		height: 50px;
		top: 58px;
		left: 635px;
	}
	
	#SemanticFramework {
		width: 82px;
		height: 50px;
		top: 125px;
		left: 529px;
	}
	
	#ClinicalProcess {
		width: 80px;
		height: 62px;
		top: 197px;
		left: 683px;
	}
	
	#TamingStandards {
		width: 83px;
		height: 54px;
		top: 270px;
		left: 762px;
	}
	
	#PlatformDefinition {
		width: 75px;
		height: 44px;
		top: 369px;
		left: 575px;
	}

	#PlatformEconomy {
		width: 82px;
		height: 62px;
		top: 419px;
		left: 712px;
	}    
    
}

/* 
 * =================== Large screens: 1200w and higher ============= 
 */

@media (min-width:1200px) {

	.headerContainer {
		width: 1170px;
		padding: 0;
	}
	.menuContainer {
		width:90%;
	}
	.logo{
		width: 16.6667%;
	}
	.menu {
		width: 83.3333%;
		padding: 0 15px;
		text-align: right;
	}
	.menu img {
		display:none;
	}
	.menu ul {
		display:block;
		float:right;
		padding: 0;
	}
	.menu ul  li {
		display: inline-block;
		margin: 0px 13px;
	}
	.menu ul li a {
		padding: 20px 10px;
	}
	.activeSmall {
		margin: none;
		display: block;
		border: none;
	}

	.contentContainer {
		width: 1170px;
		padding: 150px 0 50px 0;
	}
	
	.titleTop {
		width: 95%;
	}
	
	.homeFrame {
		width:30%;
	}
	
	.fullFrame {
		width:95%;
	}
	
	.footerContainer {
		width: 1170px;
		padding: 25px 0 0 0;
	}
	
	.titleContainer {
		width: 1000px;
		padding: 150px 0 10px 0;
	}
	
	.title-text-container {
		top: 40px;
		left: 30px;
	}
	
	.titleTopImage {
		height: 100%;
		width: 1000px;
	}
	
	.titleTopImageSmall {
		display: none;
	}
	
	.title {
		font: 24px/26px Verdana, Geneva, sans-serif;
		color: #1d275d;
		width: 40%;
        text-align:justify;
        text-justify: inter-word;
        background: rgba(255, 255, 255, 0.6);
	}
	
	.title-link {
		margin: 20px 0 10px;
		font: 20px/20px Verdana, Geneva, sans-serif;
		color: #1d275d;
	}
	
	.frontButtonA { 
		font: 14px/16px Verdana, Geneva, sans-serif;
	}
	
	.frontButtonB { 
		font: 14px/16px Verdana, Geneva, sans-serif;
	}
	
	.frontButtonC { 
		font: 14px/16px Verdana, Geneva, sans-serif;
	}
	
	#EhealthChallenge {
		width: 85px;
		height: 54px;
		top: 67px;
		left: 747px;
	}
	
	#SemanticFramework {
		width: 95px;
		height: 55px;
		top: 148px;
		left: 623px;
	}
	
	#ClinicalProcess {
		width: 90px;
		height: 62px;
		top: 232px;
		left: 808px;
	}
	
	#TamingStandards {
		width: 86px;
		height: 61px;
		top: 318px;
		left: 899px;
	}
	
	#PlatformDefinition {
		width: 88px;
		height: 54px;
		top: 431px;
		left: 676px;
	}
	
	#PlatformEconomy {
		width: 90px;
		height: 62px;
		top: 497px;
		left: 837px;
	}
}
